.body_container {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../public/backgroundpopup.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.popup_content {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  margin: 120px auto;
  padding-bottom: 35px;
  gap: 34px;
  background-color: #EAE9EBF2;
  opacity: 0.95;
}

.popup_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 42px 14px 42px;
  background-color: #63536C;
}

.heading {
  font-size: 22px;
  line-height: 25px;
  font-weight: 700;
  vertical-align: middle;
  color: #FFFFFF;
  text-transform: uppercase;
}

.close_btn {
  width: 22px;
  height: 22px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.popup_close {
  width: 22px;
  height: 22px;
}

.popup_buttons {
  display: flex;
  gap: 14px;
  margin: 0 auto;
}

.popup_buttons_style {
  padding: 11.2px 32p 11.9px 32px;
  background-color: #16A6AF;
  color: #FFFFFF;
  width: 194px;
  height: 40px;
  border-radius: 3px;
  text-transform: uppercase;
  border: none;
  font-size: 14px;
  line-height: 16px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.cancell {
  background-color: #FFFFFF;
  color: #63536C;
  width: 139px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.popup_form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 8px;
  padding-bottom: 8px;
  max-width: 750px;
  width: 100%;
}

.input_base {
  border: 1px solid #B7B7B7;
  padding: 8px;
  font-size: 16px;
  font-weight: 400;
  vertical-align: middle;
  line-height: 100%;
  box-sizing: border-box;
}

.film_form {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  vertical-align: middle;
  color: #848484;
}

@media (min-width: 320px) and (max-width: 600px) {
  .popup_buttons {
    flex-direction: column;
  }

  .cancell {
    width: 194px;
  }

  .popup_content {
    margin: 283px auto;
  }
}