* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  background-image: url('public/backgrondImage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Roboto', sans-serif;
  max-width: 1600px;
  min-height: 100vh;
  margin: 0 auto;
}
main {
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
}
.header_button {
  width: 71px;
  height: 40px;
  text-transform: uppercase;
  background-color: #16A6AF;
  color: #FFFFFF;
  border-radius: 3px;
  padding: 12px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  vertical-align: middle;
}
.Header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  box-sizing: border-box;
}
.header_text {
  font-size: 34px;
  line-height: 39px;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 900;
  color: #FFFFFF;
}
.header_text_v {
  font-weight: 100;
}
.Nav {
  padding-bottom: 10px;
  max-width: 990px;
  margin-bottom: 30px;
}
.nav_list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1px;
}
.nav_list_item {
  border-radius: 2px;
  background-color: #FFFFFF;
  height: 48px;
  padding: 10px 30px 10px 20px;
  opacity: 0.9;
  width: 125px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  vertical-align: middle;
  box-sizing: border-box;
  color: black;
}
.nav_list_item:nth-child(n+2) {
  display: flex;
  flex-direction: column;
}
.nav_list_item_active {
  width: 241px;
  height: 52px;
  opacity: 1;
  font-weight: 700;
  font-size: 15px;
}
.day_off {
  color: red;
}
.today::before {
  content: "Сегодня ";
}
.nav_list_item_change {
  border-radius: 2px;
  background-color: #FFFFFF;
  height: 48px;
  padding: 10px 20px 10px 20px;
  opacity: 0.9;
  width: 125px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  color: black;
}


.Main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.Movie {
  display: flex;
  flex-direction: column;
  max-width: 990px;
  max-height: 350px;
  background-color: #F1EBE6F2;
  border-radius: 2px;
  opacity: 0.95;
  padding: 15px;
  box-sizing: border-box;
}
.poster {
  width: 125px;
  height: 175px;
}
.movie_poster {
  position: relative;
}
.movie_poster::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 14px;
  border-top: 14.4px;
  border-left: 6.4px;
  background-color: #393939;
}
.movie_description {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  gap: 10px;
}
.movie_info {
  display: flex;
}
.movie_data {
  display: flex;
  gap: 2.38px;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}
.movie_heading {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}
.movie__synopsis {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.movie_seances_hall {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 20px;
}
.movie_seances_heading {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}
.movie_time_list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
}
.movie_time_item {
  box-sizing: border-box;
  width: 53px;
  height: 33px;
  border-radius: 2px;
  padding: 7.2px 7.33px 8.05px 8px;
  background-color: #FFFFFF;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 768px) {
  .nav_list_item {
    padding: 10px;
  }
  .nav_list_item_active {
    padding: 11px;
  }
  .movie_poster::after {
  background-color: #772720;
  }
}