* {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;           
  padding: 0;           
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
.main_admin_index {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../public/backgroundpopup.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Roboto', sans-serif;
  max-width: 1600px;
  min-height: 100vh;
  margin: 0 auto;
}
.main_container {
  display: flex;
  flex-direction: column;
  max-width: 972px;
  width: 100%;
  margin: 0px auto;
}
.admin_header {
  padding: 35px 42px 35px 104px;
  height: 120px;
  box-sizing: border-box;
}
.header_text {
  font-size: 34px;
  line-height: 39px;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 900;
  color: #FFFFFF;
  letter-spacing: 0;
}
.header_text_v {
  font-weight: 100;
}
.header_text_admin {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
  vertical-align: middle;
}
.admin_main {
  max-width: 962px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.admin_main_section {
  background-color: rgba(234, 233, 235, 0.95);
  position: relative;
}
.admin_main_section:nth-child(n+2):not(:last-child):before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #BC95D6;
  left: 64px;
  z-index: 2;
}
.admin_main_section:first-child:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #BC95D6;
  left: 64px;
  z-index: 0;
}
.section_header {
  position: relative;
  display: flex;
  padding: 35px 42px 35px 104px;
  background-color: #63536C;
}
.section_header_text {
  display: flex;
  align-items: center;
  font-size: 22px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  vertical-align: middle;
  position: relative;
}
.section_header::after {
  content: "";
  background-image: url('../../public/admin_section_after.png');
  width: 24px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute; 
  right: 42px;
  display: inline-block;
}
.before_circle {
  display: flex;
  position: relative;
  align-items: center;
}
.section_header_text::after {
  content: "";
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 4px solid #BC95D6;
  background-color: #FFFFFF;
  left: -62px;
  position: absolute;
  box-sizing: border-box;
  z-index: 3;
}

.section_header_text::before {
  content: "";
  width: 2px;
  height: 48px;
  background-color: #BC95D6;
  position: absolute;
  z-index: 1;
  left: -40px;
  top: 12px;
}
.last_before::before {
  content: "";
  width: 2px;
  height: 48px;
  background-color: #BC95D6;
  position: absolute;
  z-index: 1;
  left: -40px;
  top: -35px;
}
.section_main {
  padding-top: 35px;
  padding-left: 104px;
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;
}
.section_price_gap {
  gap: 12px;
}
.wrapper_text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  vertical-align: middle;
  color: #000000;
}
.wrapper_button {
  padding: 11.2px 31.38px 11.9px 31.73px;
  width: 159px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 3px;
  border: none;
  background-color: #16A6AF;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin-top: 8px;
}
.hall_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 25px;
}
.item_hall {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  vertical-align: middle;
  align-items: center;
  display: flex;
  gap: 3.84px;
}
.item_hall_button {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: #FFFFFF;
  border: none;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  position: relative;
  display: inline-flex;
  align-items: center;
}
.item_hall_button::before {
  content: "";
  background-image: url('../../public/basket.png');
  background-size: cover;
  position: absolute;
  width: 12px;
  height: 12px;
  margin: 4px;
}
.configure {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 72px;
  gap: 12px;
}
.configure_list {
  display: flex;
  align-items: center;
  height: 42px;
}
.configure_item_text {
  width: 81px;
  height: 42px;
  padding: 12.2px 20.25px 12.9px 21px;
  background-color: rgba(255, 255, 255, 0.45);
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  color: #000000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  vertical-align: middle;
  text-transform: uppercase;
  cursor: pointer;
}
.active_config_item {
  width: 90px;
  height: 46px;
  padding: 15.41px 23.03px 13.9px 23.1px;
  background-color: #FFFFFF;
  font-size: 15px;
  line-height: 16px;
  font-weight: 900;
}
.places {
  display: flex;
  flex-direction: column;
  height: 81px;
  gap: 12px;
  margin-bottom: 36px;
}
.conf_step_legend {
  display: flex;
  align-items: center;
}
.conf_step_legend_label {
  display: flex;
  flex-direction: column;
}
.conf_step_legend_input {
  width: 100px;
  height: 36px;
  border: 1px solid #B7B7B7;
  box-sizing: border-box;
  padding: 8px 8.8px 9px 8.8px;
  background-color: #FFFFFF;
}
.conf_step_legend_label {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  vertical-align: middle;
  color: #848484;
}
.conf_step_legend_x {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  vertical-align: middle;
  margin-left: 14px;
  margin-right: 14px;
  color: #848484;
}
.hall_configuration {
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;

}
.fieldset {
  display: flex;
  gap: 15px;
  padding-top: 17px;
  justify-content: center;
}
.fieldset_button {
  padding: 11.2px 31.39px 11.9px 31.76px;
  background-color: #FFFFFF;
  border-radius: 3px;
  border: none;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  width: 121px;
  height: 40px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  vertical-align: middle;
  text-transform: uppercase;
  color: #63536C;
}
.fieldset_input {
  padding: 11.2px 32px 11.9px 32px;
  background-color: #16A6AF;
  color: #FFFFFF;
  border: none;
  border-radius: 3px;
  width: 146px;
  height: 40px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  vertical-align: middle;
  text-transform: uppercase;
  cursor: pointer;
}
.types_chairs {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-bottom: 9px;
}
.chair_container {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  line-height: 16px;
  vertical-align: middle;
  color: #848484;
  font-weight: 400;
}
.chairs_info {
  display: flex;
  gap: 23px;
}
.chair {
  width: 26px;
  height: 26px;
  border-radius: 4px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
}
.std_chair {
  background-color: #C4C4C4;
  border: 1px solid #393939;
}
.vip_chair {
  background-color: #B0D6D8;
  border: 1px solid #0A828A;
  background-image: url("../../public/vip_chair.png");
  background-repeat: repeat;
}
.conf_step_hall_title {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  vertical-align: middle;
  color: #848484;
}
.conf_step_hall {
  max-width: 826px;
  width: 100%;
  display: flex;
  padding: 64px 0 36px 0;
  border: 1px solid #000000;
  position: relative;
  box-sizing: border-box;
  max-height: 450px;
}
.conf_step_hall_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
}
.conf_step_hall::before {
  content: "экран";
  width: 151px;
  height: 18px;
  position: absolute;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 19px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 400;
  vertical-align: middle;
  top: 23px;
  left: 50%;
  transform: translateX(-35%);
}
.conf-step_row {
  display: flex;
  gap: 10px;
}
.price_type_chairs {
  display: flex;
  align-items: center;
  gap: 3px;
}
.hall_management_gap {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.price_configuration_gap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.price_type_chairs_container {
  display: flex;
  flex-direction: column;
  gap: 1.6px;
  width: 100px;
  height: 51px;
}
.price_chairs_label {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #848484;
}
.price_chairs_input {
  width: 100%;
  height: 36px;
  border: 1px solid #B7B7B7;
  background-color: #FFFFFF;
  padding: 8px 8.8px 9px 8.8px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
.price_chairs_input_vip {
  width: 74%;
  height: 36px;
  border: 1px solid #B7B7B7;
  background-color: #FFFFFF;
  padding: 8px 8.8px 9px 8.8px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
.side_content {
  display: flex;
  padding-top: 20px;
  gap: 3px;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #848484;
}
.add_movie {
  width: 194px;
  height: 40px;
  border-radius: 3px;
  background-color: #16A6AF;
  border: none;
  color: #FFFFFF;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 16px;
  font-weight: 500;
}
.add_movie_button {
  padding-top: 17px;
}
.movie_list {
  max-width: 791px;
  margin-top: 12px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}
.movie_info {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  max-height: 52px;
  position: relative;
}
.movie_info_gap {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-left: 10px;
  box-sizing: border-box;
  justify-content: center;
}
.movie_info_img {
  width: 38px;
  height: 50px;
}
.movie_info_text {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}
.movie_info_time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}
.movie_delete {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}
.back_color_one {
  background-color: #CAFF85;
}
.back_color_two {
  background-color: #85FF89;
}
.back_color_three {
  background-color: #85FFD3;
}
.back_color_four {
  background-color: #85E2FF;
}
.back_color_five {
  background-color: #8599FF;
}
.open_sale {
  width: 270px;
  height: 40px;
  box-sizing: border-box;
  border: none;
  color: #FFFFFF;
  background-color: #16A6AF;
  padding: 11px 29px 11px 29px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.open_sale_gap {
  display: flex;
  flex-direction: column;
  gap: 29px;
}
.open_sale_button_container {
  display: flex;
  justify-content: center;
  padding-right: 42px;
}
.open_sale_ready_container {
  display: flex;
  justify-content: center;
  padding-right: 42px;
}
.hall_movie_list {
  padding: 0 35px 0 35px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 51px;
  margin-bottom: 35px;
}
.hall_movies_heading {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.seances_timeline {
  display: grid;
  grid-template-columns: repeat(1440, 1fr);
  max-width: 720px;
  width: 100%;
  height: 60px;
  border: 1px solid #848484;
  position: relative;
  box-sizing: border-box;
  align-items: center; 
}

.session {
  grid-column: var(--start);
  width: 72px; 
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  z-index: 1;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: var(--bg);
}

.session::after {
  content: var(--label);
  position: absolute;
  top: 56px; 
  left: 0;
  transform: translateX(-50%);
  color: #848484;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}

.session::before {
  content: '';
  position: absolute;
  top: 49px;
  left: 0;
  width: 1px;
  height: 5px;
  background: #848484;
}


@media (min-width: 768px) and (max-width: 896px) {
  .movie_list {
  grid-template-columns: repeat(2, 1fr);
  max-width: 607px;
  }
  .hall_movie_list {
    max-width: 607px;
  }
}
@media (min-width: 768px) and (max-width: 930px) {
  .conf_step_hall {
    max-width: 623px;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .movie_list {
  grid-template-columns: repeat(1, 1fr);
  max-width: 328px;
  }
  .movie_info {
    max-width: 260px;
  }
  .section_main {
    padding-left: 31px;
  }
  .admin_main_section:nth-child(n+2):not(:last-child):before {
    display: none;
  }
  .admin_main_section:first-child:before {
    display: none;
  }
  .section_header_text::before {
    display: none;
  }
  .section_header_text::after {
    width: 22px;
    height: 22px;
  }
  .section_header {
    padding: 20px;
    justify-content: center;
  }
  .section_header::after {
    right: 20px;
  }
  .wrapper_button {
    margin: 0 auto;
  }
  .hall_list {
    max-width: 219px;
  }
  .hall_management_gap {
    padding-bottom: 30px;
  }
  .chairs_info {
    flex-wrap: wrap;
  }
  .conf_step_hall {
    max-width: 328px;
  }
}